<app-inner-header></app-inner-header>
<div class="inner-page-wrapper">
  <div class="container lg">

    <div class="row">
      <div class="col2 family_left_content">

        <div class="page_info">
          <h3>My Matches</h3>
          <p>Congratulations! These are your matches.</p>
        </div>

        <div class="family_left_content_outer">
          <div class="user_info_outer">
            <i class="dp"><img [src]="image" alt=""></i>
            <div class="user_info">
              <h4>{{user}}</h4>
              <p>{{locations}}</p>
            </div>
          </div>
          <ul class="match_conversations">  
            <li [routerLink]="['/family-matches']" class="cursor_pointer">
              <i><img src="assets/images/heart-red.svg" alt=""></i>
              <span class="count">{{elfdata.total_matches}}</span>
              <p>Matches</p>
            </li>
            <li [routerLink]="['/conversations']" class="cursor_pointer">
              <i><img src="assets/images/chat-red.svg" alt=""></i>
              <span class="count">{{elfdata.total_conversations}}</span>
              <p>Conversations</p>
            </li>
          </ul>
        </div>

        <div class="family_left_content_outer">
          <h4>New Family Matches</h4>
          <ul class="matched_familes">
            <li *ngFor ="let data of elfmatchdata">
              <a href="javascript:void(0)" class="user_with_status">
                  <i><img src={{data.photo}} alt=""></i>
                  <em class="status"></em>
                </a>   
            </li>
          </ul>    
       
          <!-- <ul class="conversations_list">
            <li *ngFor="let list of conversationsList">
              <a href="javascript:void(0)">
                <div class="user_with_status">
                  <i><img src={{list.img}} alt=""></i>
                  <em class="status" *ngIf='list.status'></em>
                </div>
                <div class="conversations_details">
                  <div class="name">
                    <h4>{{ list.username }}</h4>
                    <span class="time">{{list.time}}</span>
                  </div>
                  <p>{{list.chat}}</p>
                </div>
              </a>
            </li>
          </ul> -->
        </div>
      </div>
      <div class="col10 family_listing">
       <!-- filter start -->
       <div class="search-bar">
        <div class="search_left">
          <i><img src="assets/images/search.svg" alt=""></i>
          <input type="text"  placeholder="Search family based on names, organizations or location" [(ngModel)]="searchValue">
        </div>
        <button class="search_btn" (click)="matchFilter()">
          <i>
            <img src="assets/images/filter-icon.svg" alt="">
           <em class="count">{{count}}</em> 
          </i>Filter
        </button>
      </div>

      <div class="custom-tag-wrapper">
        <ul>
          <li class="custom-tag" *ngIf="this.filterFamily.get('familyPreferences').value && filter">
            <span>Family Prefrences</span>
            <button class="close" (click)="removeFilter(this.filterFamily.get('familyPreferences').value)"><img src="assets/images/close.svg" alt=""></button>
          </li>
          <li class="custom-tag" *ngIf="this.filterFamily.get('organization').value && filter">
            <span>Organizations</span>
            <button class="close"  (click)="removeFilter(this.filterFamily.get('organization').value)"><img src="assets/images/close.svg" alt=""></button>
          </li>
          <li class="custom-tag" *ngIf="this.filterFamily.get('location').value && filter">
            <span>location</span>
            <button class="close" (click)="removeFilter(this.filterFamily.get('location').value)"><img src="assets/images/close.svg" alt=""></button>
          </li>
          <!-- <li>
            <button class="text-btn" *ngIf="this.filterFamily.get('location').value && this.filterFamily.get('organization').value && this.filterFamily.get('familyPreferences').value && filter">Remove all</button>
          </li> -->
        </ul>
      </div>
      
       
       <!-- filter end -->
       <!-- <app-search-bar></app-search-bar>  -->

        <div class="info-wrapper">
          <div class="user-info-detail" *ngFor="let data of elfmatchdata | filter:searchValue">
            <div class="img-block">
              <a [routerLink]="['/family-matches/profile',data.id]">
                <img src={{data.photo}} alt="">   
               </a>
              <span class="cyan_strip">{{data.organisation}}</span>
              <span class="cyan_strip truncated blue" title="Matched">Matched</span>
              <ul class="link-wrapper">
                <li *ngIf="!data.is_flagged">
                  <button class="like-icon" (click)="openflag(data);">
                    <i><img src="assets/images/flag1.svg" alt=""></i>
                  </button>
                </li>
                <li *ngIf="data.is_flagged">
                  <button class="like-icon">
                    <i><img src="assets/images/flag1-red.svg" alt=""></i>
                  </button>
                </li>
                <li>
                  <button class="like-icon" (click)="openflagUnMatched(data);">
                    <i><img src="assets/images/heart-filled.svg" alt=""></i>
                  </button>
                </li>
              </ul>
            </div>
            <a [routerLink]="['/family-matches/profile',data.id]" class="address-block">
              <h3>{{data.name}}</h3>
              <p>{{data.city}} {{data.state}}</p>
            </a>
          </div>
        </div>
        <div *ngIf="recordsCheck || !elfdata" class="recordschecks">
          <h1>No Records found</h1>
       </div> 
      </div>
    </div>
  </div>
 <div class="col10">
    <div class="static_position">
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  </div>
 </div>
</div>


<!--popup start-->


<div class="page-overlay" (click)="closeFilterSidebar()" *ngIf="overlay"></div>
<div class="family-profile-detail sidebar filter-sidebar" *ngIf="sidebar">

  <div class="sidebar-content">
    <img class="close-btn" src="assets/images/close - gray.svg" alt="" (click)="closeFilterSidebar()">

     <form [formGroup]="filterFamily">
      <div class="form-group">
        <label>Choose Family Preferences</label>
        <div class="custom_radio_with_tick_container has_three">
          <div class="custom_radio_tick_outer">
            <label><img src="assets/images/boy.svg" alt=""></label>
            <input type="radio" name="familyPreferences" class="custom_input" value="boy" formControlName="familyPreferences">
            <div class="outer_border">
              <div class="tick"></div>
            </div>
          </div>
          <div class="custom_radio_tick_outer">
            <label><img src="assets/images/girl.svg" alt=""></label>
            <input type="radio" name="familyPreferences" class="custom_input" value="girl" formControlName="familyPreferences">
            <div class="outer_border">
              <div class="tick"></div>
            </div>
          </div>
          <div class="custom_radio_tick_outer">
            <label><img src="assets/images/boy-girl.svg" alt=""></label>
            <input type="radio" name="familyPreferences" class="custom_input" value="non-binary" formControlName="familyPreferences">
            <div class="outer_border">
              <div class="tick"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Choose your Organization</label>
        <ejs-multiselect   formControlName="organization" name="organization" class="form-control multi-select" [dataSource]='organisationsData' [value]='organisationsDefault' [fields]='organisationsFields' [placeholder]='organisationsWaterMark'></ejs-multiselect>
      </div>
      <div class="location-group">
  
      <div class="form-group">
          <label>Choose your Location</label>
        <ejs-dropdownlist  formControlName="location" name="location" class="form-control" id='select-dropdown' [dataSource]='stateData' [value]='stateDefault' placeholder='Anywhere in United States'></ejs-dropdownlist>
      </div>
  </div>
  <div class="btn-block two-button">
    <a class="border-button btn" title="Cancel" (click)="closeFilterSidebar()">Cancel</a>
    <a class="orange-button btn" title="Apply Changes" (click)="applyChanges(filterFamily.value)">Apply Changes</a>
  </div>
  </form>

</div>
</div>


<!--poup end-->


<!--flagged user start-->

<div *ngIf="flagPopup">
  <div class="modal-overlay" (click)="closeflag()"></div>
  <div class="modal-wrapper">
    <div class="modal modal-sm">
      <div class="modal-sm-inner">
        <div class="modal-header">
          <button class="close-modal" (click)="closeflag()" title="close">
            <img src="assets/images/modal-close.svg" alt="">
          </button>
          <h2>Flag to naughty list!</h2>
          <p>Why you want to flag {{flagName}} family to naughty list?</p>
        </div>
  
        <form  [formGroup]='elfForm'>
  
          <div class="form-group">
            <div class="custom-radio-btn stacked">
              <label class="radio-container">
                <input type="radio" name="flag_reason"  value="Offensive message" formControlName="flag_reason">
                <span>
                  <i class="icon">
                    <img alt="" src="assets/images/chat-grey.svg">
                    <img alt="" class="active_img" src="assets/images/chat-white.svg">
                  </i>Offensive message
                </span>
              </label>
              <label class="radio-container">
                <input type="radio" name="flag_reason"  value="Inappropriate photos/letters" formControlName="flag_reason">
                <span>
                  <i class="icon">
                    <img alt="" src="assets/images/pic-grey.svg">
                    <img alt="" class="active_img" src="assets/images/pic-white.svg">
                  </i>Inappropriate photos/letters</span>
              </label>
              <label class="radio-container">
                <input type="radio" name="flag_reason" value="Bad behaviour" formControlName="flag_reason">
                <span>
                  <i class="icon">
                    <img alt="" src="assets/images/chat-grey.svg">
                    <img alt="" class="active_img" src="assets/images/chat-white.svg">
                  </i>Bad behaviour</span>
              </label>
              <label class="radio-container">
                <input type="radio" name="flag_reason" value="Feel like spam" formControlName="flag_reason">
                <span>
                  <i class="icon">
                    <img alt="" src="assets/images/chat-grey.svg">
                    <img alt="" class="active_img" src="assets/images/chat-white.svg">
                  </i>Feel like spam</span>
              </label>
              <label class="radio-container">
                <input type="radio" name="flag_reason"  value="Others" formControlName="flag_reason">
                <span>
                  <i class="icon">
                    <img alt="" src="assets/images/note-grey.svg">
                    <img alt="" class="active_img" src="assets/images/note-white.svg">
                  </i>Others</span>
              </label>
            </div>
  
            <textarea class="form-control" name="flag_additional_info" formControlName="flag_additional_info" placeholder="Additional Info (Required)"></textarea>
          </div>
  
          <div class="modal-footer">
            <button class="orange-button" (click)="newMatchedFlagData(elfForm.value)"><span><img src="assets/images/flag1-white.svg" alt=""></span>Flag to naughty list</button>
          </div>
  
        </form>
      </div>
    </div>
  </div>
  </div>
  
  <!--flagged user end-->
  
  <!-- unmatched user start -->
  
  <div *ngIf="unmatched">
  <div class="modal-overlay" (click)="closeUnmatchFamilyPopup()"></div>
  <div class="modal-wrapper unmatch-family">
    <div class="modal modal-sm">
      <div class="modal-sm-inner">
        <div class="modal-header">
          <button class="close-modal" (click)="closeUnmatchFamilyPopup()" title="close">
            <img src="assets/images/modal-close.svg" alt="">
          </button>
          <h2>Are you sure?</h2>
          <p>Tell us why are you unmatching with the {{flagName}}?</p>
        </div>
        <form [formGroup]="unmatch">
          <div class="form-group">
            <div class="custom-radio-btn stacked">
              <textarea class="form-control" placeholder="Tell us the reason of unmatching with this family" formControlName="unmatch_reason"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button class="orange-button btn" title="Unmatch" (click)="unmatching(unmatch.value)" [disabled]="unmatch.invalid"><span><img src="assets/images/heart-filled - white.svg" alt=""></span>Unmatch</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>


  <!--unmatched user end-->